.header {
    /* #f53f2d */
    /* #fd6132 */
    height: var(--header-height);
    background-image: linear-gradient(0, #fd6132, #f53f2d);
    user-select: none;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    /* min-height: 26px; */
}

.header__navbar-user {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    background-color: var(--white-color);
    position: absolute;
    top: 27px;
    right: 0;
    width: 160px;
    /* height: 120px; */
    list-style: none;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2px;
    border: 1px solid rgb(208, 208, 208);
    z-index: 999;
    transform-origin: 150px top;
    animation: headerUsers ease-in 0.20s;
    will-change: transfrom, opacity;
    display: none;
}

@keyframes headerUsers {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    border-width: 14px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -28px;
    right: 6px;
    cursor: pointer;

}

.header__navbar-user-menu-items {
    width: 100%;
    height: 100%;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header__navbar-user-link {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 10px;
    display: block;
}

/* .header__navbar-user-menu-items:hover {
    background-color: #f6f2f2;
} */

.header__navbar-user-link:hover {
    background-color: #f6f2f2;
    color: #00bfa5;

}

.header__navbar-user-img {
    position: absolute;
    height: 100%;
    top: 0;
    left: -18px;
    border-radius: 50%;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-item {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item-link-strong {
    font-weight: 500;
}

.header__navbar-item--spearate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid hsla(0, 0%, 100%, .22);
    border-right: 1px solid hsla(0, 0%, 100%, .22);
    height: 18px;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);

}


.header__navbar-icon:hover,
.header__navbar-item-link:hover {

    color: rgb(220, 220, 220);
}


.header__navbar-item-icon {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 5px;
}

.header__qr {
    background-color: var(--white-color);
    width: 190px;
    position: absolute;
    top: 200%;
    padding: 10px;
    border-radius: 2px;
    display: none;
    z-index: 9999;

    animation: fadeIn ease-in 0.2s;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    /* justify-content: space-between; */
}

.header_qr-link {
    margin-left: 11px;
}

.header__qr-apps-img {
    height: 16px;
}

.header__navbar-item:hover .header__qr {
    display: block;

}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 15px;
    top: -15px;
    left: 0;
}

.header__notify {
    position: absolute;
    z-index: 999;
    top: 150%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border: 1px solid rgb(208, 208, 208);
    /* edit tâm  */
    display: none;
    transform-origin: 360.694px top;
    animation: headerNotify ease-in 0.20s;
    will-change: transfrom, opacity;
    border-radius: 2px;

}

.header__navbar-item:hover .header__notify {
    display: block;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 10px;
    top: -10px;
    right: 0;
}

.header__notify::before {
    content: "";
    position: absolute;
    border-width: 14px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -28px;
    right: 21px;
    cursor: pointer;
}

@keyframes headerNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: gray;
    margin: 0;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 12px;
    /* padding: 10px; */
}

.header__notify-list {
    padding-left: 0;
    background-color: rgb(251, 235, 230);

}

.header__notify-list:hover {
    background-color: rgb(248, 248, 248);
}

.header__notify-item {}

.header__notify-link {
    display: flex;
    padding: 8px 10px;
    text-decoration: none;
    color: var(--black-color);

}

.header__notify-img {
    height: 48px;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 16px;
    font-weight: 400;
}

.header__notify-descrip {
    display: block;
    font-size: 12px;
    color: rgb(182, 179, 179);
}

.header__notify-descrip,
.header__notify-name {
    margin-bottom: 10px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer:hover {
    background-color: rgb(248, 248, 248);

}

.header__notify-btn {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
}

/* Language  */
.header__language {
    position: absolute;
    top: 150%;
    right: 0;
    width: 200px;
    height: 70px;
    border: solid 1px rgba(0, 0, 0, .09);
    background-color: var(--white-color);
    border: 1px solid rgb(208, 208, 208);
    border-radius: 2px;
    z-index: 999;
    /* edit tâm  */
    display: none;
    transform-origin: 120px top;
    animation: headerLanguage ease-in 0.20s;
    will-change: transfrom, opacity;
}

@keyframes headerLanguage {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__language::after {
    content: "";
    position: absolute;
    top: -18px;
    right: -1px;
    width: 80px;
    height: 18px;
    /* background-color: aliceblue; */
}

.header__language::before {
    content: "";
    position: absolute;
    border-width: 12px 14px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -24px;
    right: 34px;

}

.header__navbar-item:hover .header__language {
    display: block;
}

.header__language-list {
    padding-left: 0;
}

.header__language-item {
    list-style: none;
    padding: 10px;

}

.header__language-link {
    font-weight: 400;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 3px;
}

.header__language-link:hover {
    color: red;
}

/* Header-with-search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding-left: 8px;
    z-index: 1;
}


.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    fill: var(--white-color);
}

/* Search  */

.header__search {
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;

}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

/* .header__search-input-wrap :focus-within{
    border: 1px solid black;
} */

.header__search--bottom {}

/* Search history  */
.header__search-history {
    position: absolute;
    top: 42px;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    overflow: hidden;
    display: none;
}

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-history-heading {
    margin: 8px 8px;
    font-size: 1.5rem;
    color: rgb(178, 177, 177);
    font-weight: 400;
}

.header__search-history-list {
    padding: 0;
    list-style: none;
    margin: 0;
}

.header__search-history-items {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px 8px;
}

.header__search-history-items:hover {
    background-color: #fafafa;
}

.header__search-history-link {
    text-decoration: none;
    width: 100%;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 40px;
}

/* Search input  */
.header__search-input {
    border-radius: 2px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 0 8px;
}

.header__search-select {
    border-left: 1px solid gray;
    padding: 0 10px;
    cursor: pointer;
    position: relative;

}

.header__search-select-label {
    font-size: 1.6rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    margin: 0 10px;
}

.header__search-option {
    position: absolute;
    top: 100%;
    right: 0;
    width: 136px;
    box-shadow: 0 1px 1px rgb(162, 159, 159);
    padding: 0;
    border-radius: 3px;

    /* overflow: hidden; */
    margin-top: 15px;
    display: none;
}

.header__search-option::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 19px;
    top: -19px;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    list-style: none;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 3px;

}

.header__search-option-text {
    margin-left: 12px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-icon {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 8px;
}


.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: rgb(249, 115, 84);

}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

/* Cart  */
.header__cart {
    width: 40px;
    margin: 0 40px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.header__cart-icon {
    margin-left: -25px;
    margin-top: 10px;
    color: var(--white-color);
    font-size: 2.6rem;
}

.header__cart-notice {
    top: 0rem;
    left: 1rem;
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    border-radius: 2.3rem;
    border: 2px solid #ed4827;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 10px);
    right: 5px;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    background-color: var(--white-color);
    width: 400px;
    display: none;
    transform-origin: 360.694px top;
    animation: headerNotify ease-in 0.20s;
    will-change: transfrom, opacity;
}

/* HasCart */
.header__cart-heading {
    color: rgba(0, 0, 0, .26);
    text-transform: capitalize;
    text-align: left;
    margin: 10px 12px;
    font-weight: 500;
}

.header__cart-list-items {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #e6e1e1;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
}

.header__cart-item-info {
    width: 100%;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-headname {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;

}

.header__cart-item-headprice {
    margin: 12px;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-list-items:hover {
    background-color: rgb(249, 249, 249);
}

.header__cart-footer {
    display: flex;
    justify-content: space-between;
}

.header__cart-footer-text {
    text-transform: capitalize;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.header__cart-footer .btn--primary {
    margin: 10px;
}

/* Nocart */
.header__cart-nocart-img {
    width: 30%;
    display: none;
}

.header__cart-list--nocart {
    padding: 28px 0;
}

.header__cart-list--nocart .header__cart-list-nocart-msg,
.header__cart-list--nocart .header__cart-nocart-img {
    margin: 0 auto;
    display: block;
}

.header__cart-list-nocart-msg {
    padding: 0;
    font-size: 1.4rem;
    /* margin-top: 1.25rem; */
    text-transform: capitalize;
    display: none;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    border-width: 10px 14px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    top: -19px;
    right: 11px;
}

.header__cart:hover .header__cart-list {
    display: block;
}

/* Form Authen */



.auth-form {
    width: 500px;

}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: red;
    cursor: pointer;
}

.auth-form__form {}

.auth-form__group {}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 10px;
    font-size: 1.4rem;
    border: solid 1px var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 16px;
}

.auth-form__policy {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 90px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__help-link:nth-child(1) {
    color: var(--primary-color);
}

.auth-form__help-link:last-child {
    color: gray;
}

.auth-form__help-separate {
    display: block;
    height: 20px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
}

.auth-form__link {
    text-decoration: none;
    color: red;
    cursor: pointer;
}

.auth-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}


.auth-form__socials {
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(229, 228, 228);
    display: flex;
    justify-content: space-around;
}

.btn--with-icon {}

.auth-form__socials-icon {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.btn--with-icon:nth-child(1) {
    background-color: #1877f2;
    color: var(--white-color);
}

.btn--with-icon:nth-child(2) {
    background-color: #ffffff;

}

.auth-form_socials-tittle {
    margin: 0 30px;
}

/* Container  */
.container {
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    background-color: var(--light-color);
}

.container__header {
    padding: 20px 160px;

}

.slide-show {
    width: 100%;
    height: 230px;
    display: flex;
}

.slide-show-image-left {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 2;
    margin-right: 2px;
    background-image: url(https://cf.shopee.vn/file/fcc7bcd63916e51598ff70ef1bfff5ae_xxhdpi);
}

.slide-show-image-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.slide-show-image-item {
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-show-image-item:first-child {
    margin-bottom: 2px;
    background-image: url(https://cf.shopee.vn/file/107bfb77076017586f1059b3e7eeb614_xhdpi);
}

.slide-show-image-item:last-child {
    margin-top: 2px;
    background-image: url(https://cf.shopee.vn/file/107bfb77076017586f1059b3e7eeb614_xhdpi);

}

/* Option items  */

.option-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.option-item-link {
    text-decoration: none;
}

.option-item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.option-item-box img {
    width: 45px;
    height: 45px;
    margin: 18px auto 8px;
}

.option-item-box span {
    font-size: 1.4rem;
    text-align: center;
    word-wrap: break-word;
    max-width: 100px;
    color: var(--text-color);
    margin-bottom: 5px;
}

.option-item-link:hover {
    background-color: #f6f5f5;
}

/* Poster sale  */
.poster-sale {
    width: 100%;
    margin-top: 10px;
    /* padding: 0 10px 0 10px; */
}

.header-sale-poster {
    background-image: url(./img/body-poster.png);

}

.header-sale-poster img {
    width: 100%;
}

.body-sale-poster {
    background-image: url(./img/body-poster.png);
    display: flex;
    padding: 0 10px 0 10px;
    width: 100%;
}

.body-sale-poster-box {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.body-sale-box-header {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 2.5rem 3rem 2.5rem 2rem;

}

.body-sale-box-header span {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.body-sale-box-header a {
    position: relative;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;

}

.body-sale-box-header .outline {
    position: absolute;
    top: 2px;
    font-size: 13px;
}

.body-sale-box-box {
    display: flex;
    justify-content: space-around;
    margin: 0 4px 0 4px;
}

.body-sale-box-items {
    width: 100%;
    height: 240px;
    background-color: var(--white-color);
    margin: 0 1px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    text-decoration: none;
}

.body-sale-image {}

.body-sale-image img {
    width: 100%;
}

.body-sale-box-items span {
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
    color: var(--primary-color);
    text-transform: uppercase;
}

.footer-sale-poster img {
    width: 100%;
}

/* two column */

.category {}


.category__heading {
    position: relative;
    font-size: 2rem;
}

.category__icon {
    position: absolute;
    top: -4px;
    left: -30px;
    font-weight: 500;
}

.category-list {
    list-style: none;
    padding-left: 0;
}

.category-item {
    padding: 8px 12px;
}


.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    transition: right linear 0.1s;
    right: 0;

}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

.category-item__link--active {
    color: var(--primary-color);
    position: relative;
}

.category-item__link--active::before {
    content: "";
    position: absolute;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: -12px;
    cursor: pointer;
    transform: translateY(calc(-50% - 1px));
}

/* Twelve Columns */
.sort__bar {
    display: flex;
    justify-content: space-between;
    background-color: #eeecec;
    font-size: 1.4rem;
    padding: 13px 20px;
    align-items: center;
}

.sort__bar-option {
    display: flex;
}

.sort__bar-option button {
    font-size: 1.4rem;
    min-width: 100px;
    margin: 0 5px 0 5px;
}

.sort__bar-label {
    display: flex;
    align-items: center;
    margin: 0 1.3rem 0 0;
}

.select-with-status {
    background-color: var(--white-color);
    height: 3.6rem;
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}
@keyframes select__status {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.select-with-status__placeholder {
    width: 100%;
    height: 100%;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.select-with-status__dropdown {
    position: absolute;
    list-style: none;
    background-color: var(--white-color);
    top: 25px;
    width: 100%;
    box-shadow:  0.3125rem 0.625rem 0 rgb(0 0 0 / 5%);
    padding: 5px 0;
    display: none;
    animation: select__status ease-in .15s;

}
.select-with-status__dropdown::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    top: -2px;
}

.select-with-status:hover .select-with-status__dropdown{
    display: block;
}

.select-with-status__dropdown-item {
    padding: 10px;
    width: 100%;
}

.select-with-status__dropdown-item a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}
.select-with-status__dropdown-item a:hover{
    color: var(--primary-color);
}


.select-with-status-icon {}

.mini-page-cotroller {
    display: flex;
    width: 125px;
    justify-content: space-between;
}

.mini-page-controller__state {
    display: flex;
    align-items: center;

}

.mini-page-controller__state-current {
    color: var(--primary-color);
}

.mini-page-controller__state-total {}

.mini-page-controller-control {}

.mini-page-controller-control button {
    border: none;
    outline: none;
    border-radius: 2px;
    width: 4rem;
    height: 4rem;
    margin-left: -0.3rem;
    cursor: pointer;
    background-color: #ffffff;
}

.mini-page-controller-control-prev {
    color: rgba(0, 0, 0, .26);
}

.mini-page-controller-control-next {}

.mini-page-icon {
    font-size: 15px;
}